{{#partial "content"}}
    <form class="form-horizontal" role="form" method="post">
        <h2>
            {{lang.reservationEdit}}
        </h2>
        <div class="form-group row mx-0 mb-0">
            {{> mor/inputs/dateTimeInput label=lang.startReservationDate id="start" dateValue=data.startDay timeValue=data.startHour isRequired=true extremum="start"}}
            {{> mor/inputs/dateTimeInput label=lang.endReservationDate id="end" dateValue=data.endDay timeValue=data.endHour isRequired=true extremum="end"}}
        </div>
        {{> mor/inputs/playerCountInput isRequired=true value=data.numberOfPlayers}}
        {{> mor/inputs/alleyNumberInput isRequired=true value=data.alleyNumber formType="update"}}
        {{> mor/inputs/itemTable }}
        <button type="submit" class="btn btn-primary btn-block" onclick="form.method='post'; form.action='{{webContextPath}}/{{reservationContext}}/edit/{{idFromUri}}';">
            {{lang.update}}
        </button>
        <div class="form-group">
                <small class="form-text text-muted">
                  * {{lang.requiredFields}}
                </small>
        </div>
    </form>
{{/partial}}
{{> layout }}