{{#partial "content"}}
    <form class="form-horizontal" role="form" method="post">
        <h2>
            {{lang.reservationEdit}}
        </h2>
        {{> mor/inputs/startEndWithinADayInput label=lang.reservationPeriod id="date"
                dateValue=data.day timeStartValue=data.startHour timeEndValue=data.endHour isRequired=true
                startLabel=lang.startHour endLabel=lang.endHour dayLabel=lang.date}}
        {{> mor/inputs/playerCountInput isRequired=true value=data.numberOfPlayers}}
        {{> mor/inputs/alleyNumberInput isRequired=true value=data.alleyNumber formType="update"}}
        {{> mor/inputs/itemTable header=lang.balls min=6 max=16 tableId="Balls"}}
        {{> mor/inputs/itemTable header=lang.shoes min=38 max=45 tableId="Shoes"}}
        <button type="submit" class="btn btn-primary btn-block" onclick="form.method='post'; form.action='{{webContextPath}}/{{reservationContext}}/edit/{{idFromUri}}';">
            {{lang.update}}
        </button>
        <div class="form-group">
                <small class="form-text text-muted">
                  * {{lang.requiredFields}}
                </small>
        </div>
    </form>
{{/partial}}
{{> layout }}