{{#partial "content"}}
    {{#if reservation}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h2 class="mb-3">
                        {{lang.reservationDetails}}
                        {{#if isExpired}}
                            <span class="badge badge-secondary ml-2 rounded">{{lang.reservationExpired}}</span>
                        {{else}}
                            <span class="badge badge-success ml-2 rounded">{{lang.reservationPending}}</span>
                        {{/if}}
                    </h2>
                </div>
                <div class="col-6">
                    {{#ifb (or isExpired (not reservation.active))}}
                        <div class="float-right ml-4 my-2">
                        <span class="d-inline-block" data-toggle="popover" tabindex="0" data-trigger="focus"
                              data-placement="bottom" data-content="{{lang.reservationInactiveOrExpired}}">
                            <a href="#" aria-disabled="true"
                               class="btn btn-secondary disabled">
                                <span>{{lang.edit}}</span>
                                <i class="far fa-edit ml-1"></i>
                            </a>
                        </span>
                        </div>
                    {{else}}
                        <a href="{{webContextPath}}/{{reservationContext}}/edit/{{reservation.id}}"
                           class="btn btn-primary waves-effect float-right ml-4 my-2">
                            <span>{{lang.edit}}</span>
                            <i class="far fa-edit ml-1"></i>
                        </a>
                    {{/ifb}}

                    <form class="float-right ml-4 my-2" role="form" method="post" data-form-confirm>
                        <div class="form-group">
                            {{#if isCancelable}}
                                <button class="form-control btn btn-warning"
                                        type="submit">{{lang.cancelReservation}}</button>
                            {{else}}
                                <span class="d-inline-block" data-toggle="popover" tabindex="0" data-trigger="focus"
                                      data-placement="bottom" data-content="{{lang.reservationInactiveOrExpired}}">
                                    <button class="btn btn-secondary" style="pointer-events: none;" type="button"
                                            disabled>{{lang.cancelReservation}}</button>
                                </span>
                            {{/if}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.reservationId}}:</h6>
                <p class="mb-0">{{reservation.id}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.login}}:</h6>
                <p class="mb-0">{{reservation.userLogin}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.startReservationDate}}:</h6>
                <p class="mb-0">{{date reservation.startDate}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.endReservationDate}}:</h6>
                <p class="mb-0">{{date reservation.endDate}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.reservationPlayersCount}}:</h6>
                <p class="mb-0">{{reservation.playersCount}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.alleyNumber}}:</h6>
                <p class="mb-0">{{reservation.alleyNumber}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.activeReservation}}:</h6>
                {{#if reservation.active}}
                    <img src="{{webContextPath}}/static/img/tick.png" alt="true" width="20px" height="20px">
                {{else}}
                    <img src="{{webContextPath}}/static/img/cross.png" alt="false" width="20px" height="20px">
                {{/if}}
            </li>
        </ul>

        {{#if reservation.items}}
            <table class="table mt-5">
                <thead>
                <tr>
                    <th>{{lang.itemType}}</th>
                    <th>{{lang.itemSize}}</th>
                    <th>{{lang.itemCount}}</th>
                </tr>
                </thead>
                <tbody>
                {{#each reservation.items}}
                    <tr>
                        <td>
                            {{#ifb (compare this.name '==' "shoes")}}
                                {{lang.shoes}}
                            {{/ifb}}
                            {{#ifb (compare this.name '==' "ball")}}
                                {{lang.ball}}
                            {{/ifb}}
                        </td>
                        <td>{{this.size}}</td>
                        <td>{{this.count}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/if}}

        <div>
            <div class="d-flex justify-content-between">
                <h3 class="my-3">
                    {{lang.comments}}:
                </h3>
                {{#ifb (and isClient isExpired)}}
                    <a href="{{webContextPath}}/comments/add/{{reservation.id}}" class="m-3 btn btn-primary">
                        {{lang.addNewCommentBtn}}
                    </a>
                {{/ifb}}
            </div>

            <ul class="list-group">
                {{#each reservation.comments}}
                    {{#if this.active}}
                        <li class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-10">
                                    <span class="mb-1">{{date this.date}}</span>
                                    <p class="mb-0">{{this.content}}</p>
                                </div>
                                {{#ifb (and (not ownReservation) (or isAdmin isEmployee))}}
                                    <div class="col-2 d-flex justify-content-end">
                                        <form class="form-inline" data-form-confirm role="form" method="post"
                                              action="{{webContextPath}}/reservations/details/disable-comment/{{this.id}}">
                                            <button type="submit" class="btn btn-warning">
                                                {{lang.disableComment}}
                                            </button>
                                            <input type="hidden" id="reservationId" name="reservationId" readonly
                                                   value="{{reservation.id}}" aria-label="reservationId">
                                        </form>
                                    </div>
                                {{/ifb}}
                                {{#if ownReservation}}
                                    <div class="col-2">
                                        <a
                                            class="btn btn-info"
                                            href="{{webContextPath}}/comments/edit/{{reservation.id}}/{{this.id}}"
                                        >
                                            {{lang.editComment}}
                                        </a>
                                    </div>
                                {{/if}}
                            </div>
                        </li>
                    {{/if}}
                {{else}}
                    <div class="d-flex justify-content-center m-3">
                        {{lang.emptyCommentList}}
                    </div>
                {{/each}}
            </ul>
        </div>
    {{/if}}
{{/partial}}

{{> layout }}
