{{#partial "content"}}
    <h2>{{reservationListHeading}}:</h2>
    {{#each reservationsList}}
        <div class="question-card card mb-4">
            <div class="card-header forum-card-img-30 d-flex justify-content-between">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <a href="{{webContextPath}}/{{reservationContext}}/details/{{this.id}}"
                               class="btn btn-primary">
                                {{lang.seeDetails}}
                            </a>
                            <a href="{{webContextPath}}/scores/new/{{this.id}}"
                               class="btn btn-primary">
                                {{lang.addNewScore}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card content-->
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{lang.startReservationDate}}: </h6>
                            <p class="mb-1">{{this.startDate}}</p>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{lang.endReservationDate}}: </h6>
                            <p class="mb-1">{{this.endDate}}</p>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{lang.reservationPlayersCount}}: </h6>
                            <p class="mb-1">{{this.playersCount}}</p>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{lang.activeReservation}}: </h6>
                            {{#if this.active}}
                                <img
                                        src="{{webContextPath}}/static/img/tick.png"
                                        alt="true"
                                        width="20px"
                                        height="20px"
                                >
                            {{else}}
                                <img
                                        src="{{webContextPath}}/static/img/cross.png"
                                        alt="false"
                                        width="20px"
                                        height="20px"
                                >
                            {{/if}}
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{lang.alleyNumber}}: </h6>
                            <p class="mb-1">{{this.alleyNumber}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {{else}}
        <div class="d-flex justify-content-center m-3">
            {{lang.emptyReservationList}}
        </div>
    {{/each}}
{{/partial}}

{{> layout }}
