{{#partial "content"}}
    {{#if reservation}}
        <div class="d-flex justify-content-between">
            <h2 class="mb-3">
                {{lang.reservationDetails}}
                {{#if isExpired}}
                    <span class="badge badge-secondary ml-2 rounded">{{lang.reservationExpired}}</span>
                {{else}}
                    <span class="badge badge-success ml-2 rounded">{{lang.reservationPending}}</span>
                {{/if}}
            </h2>
            <form class="form-inline" role="form" method="post" data-form-confirm>
                <div class="form-group">
                    {{#if isCancelable}}
                        <button class="form-control btn btn-warning" type="submit">{{lang.cancelReservation}}</button>
                    {{else}}
                        <span class="d-inline-block" data-toggle="popover" tabindex="0" data-trigger="focus" data-placement="bottom" data-content="{{lang.reservationInactiveOrExpired}}">
                             <button class="btn btn-secondary" style="pointer-events: none;" type="button" disabled>{{lang.cancelReservation}}</button>
                        </span>
                    {{/if}}
                </div>
            </form>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.reservationId}}:</h6>
                <p class="mb-0">{{reservation.id}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.login}}:</h6>
                <p class="mb-0">{{reservation.userLogin}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.startReservationDate}}:</h6>
                <p class="mb-0">{{reservation.startDate}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.endReservationDate}}:</h6>
                <p class="mb-0">{{reservation.endDate}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.reservationPlayersCount}}:</h6>
                <p class="mb-0">{{reservation.playersCount}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.alleyNumber}}:</h6>
                <p class="mb-0">{{reservation.alleyNumber}}</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <h6 class="mb-1">{{lang.activeReservation}}:</h6>
                {{#if reservation.active}}
                    <img src="{{webContextPath}}/static/img/tick.png" alt="true" width="20px" height="20px">
                {{else}}
                    <img src="{{webContextPath}}/static/img/cross.png" alt="false" width="20px" height="20px">
                {{/if}}
            </li>
        </ul>
        <div>
            <h3 class="my-3">
                {{lang.comments}}:
            </h3>
            <ul class="list-group">
                {{#each reservation.comments}}
                    {{#if this.active}}
                        <li class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-10">
                                    <span class="mb-1">{{this.date}}</span>
                                    <p class="mb-0">{{this.content}}</p>
                                </div>
                                {{#ifb (or isAdmin isEmployee)}}
                                <div class="col-2">
                                    <form class="form-inline" data-form-confirm role="form" method="post"
                                          action="{{webContextPath}}/reservations/details/disable-comment/{{this.id}}">
                                        <button type="submit" class="btn btn-primary">
                                            {{lang.disableComment}}
                                        </button>
                                        <input type="hidden" id="reservationId" name="reservationId" readonly
                                               value="{{reservation.id}}" aria-label="reservationId">
                                    </form>
                                </div>
                                {{/ifb}}
                            </div>
                        </li>
                    {{/if}}
                {{else}}
                    <div class="d-flex justify-content-center m-3">
                        {{lang.emptyCommentList}}
                    </div>
                {{/each}}
            </ul>
        </div>
    {{/if}}
{{/partial}}

{{> layout }}
