{{#block "employee"}}
    {{#if isEmployee}}
        <li class="nav-item dropdown">
            <a
                    class="nav-link dropdown-toggle" href="#" id="employee-nav-dropdown" role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
            >
                {{lang.employee}}
            </a>
            <div class="dropdown-menu" aria-labelledby="employee-nav-dropdown">
                <a class="dropdown-item" href="{{webContextPath}}/accounts">
                    {{lang.usersList}}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{webContextPath}}/alleys">
                    {{lang.alleysList}}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{webContextPath}}/employee/servicerequests/">
                    {{lang.serviceRequest}}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{webContextPath}}/alleys/new">
                    {{lang.addAlley}}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{webContextPath}}/items/balls">
                    {{lang.editBallsCount}}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{webContextPath}}/items/shoes">
                    {{lang.editShoesCount}}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{webContextPath}}/reservations/new">
                    {{lang.createAReservation}}
                </a>
            </div>
        </li>
    {{/if}}
{{/block}}
