{{#block "main"}}
    {{#if isClient }}
        <li class="nav-item">
            <a class="nav-link" href="{{webContextPath}}/reservations/available-alleys">
                {{lang.createAReservation}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{webContextPath}}/alleys">
                {{lang.alleysList}}
            </a>
        </li>
    {{else}}
        {{#if isEmployee}}
            <li class="nav-item">
                <a class="nav-link" href="{{webContextPath}}/alleys">
                    {{lang.alleysList}}
                </a>
            </li>
        {{/if}}
    {{/if}}
{{/block}}