{{#partial "content"}}
    <div class="container">
        <div class="w-75 mx-auto">
            {{#if errors}}
                <div class="alert alert-danger">
                    {{#each errors}}
                        <p class="font-weight-bold">
                            {{this}}
                        </p>
                    {{/each}}
                </div>
            {{/if}}
            {{#with userDetails}}
            <form class="form-horizontal" role="form" method="post" data-form-confirm>
                <h2>
                    {{lang.editProfile}}
                </h2>
                <div class="form-group">
                    <label for="first-name">
                        {{lang.firstName}}:
                    </label>
                    <input type="text" id="first-name" name="firstName" class="form-control" value='{{firstName}}' autofocus>
                </div>
                <div class="form-group">
                    <label for="last-name">
                        {{lang.lastName}}:
                    </label>
                    <input type="text" id="last-name" name="lastName" class="form-control" value='{{lastName}}'>
                </div>
                <div class="form-group">
                    <label for="e-mail">
                        E-mail:
                    </label>
                    <input type="email" id="e-mail" name="eMail" class="form-control" value='{{email}}'>
                </div>
                <div class="form-group">
                    <label for="phone-number">
                        {{lang.phoneNumber}}:
                    </label>
                    <input type="text" id="phone-number" name="phoneNumber" class="form-control" value='{{phone}}'>
                </div>
                <div class="form-group">
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    {{lang.update}}
                </button>
            </form>
            {{/with}}
        </div>
    </div>
{{/partial}}
{{> layout }}