{{#block "dateInput"}}
    <div class="input-group mb-3 mx-0">
        <div class="input-group-prepend">
            <span class="input-group-text">{{label}} {{#if isRequired}}*{{/if}}</span>
        </div>
        <input class="form-control datepicker" type="text" aria-label="{{label}}"
               name="{{id}}Day" id="{{id}}Day" maxlength="10" minlength="10"
               value="{{dateValue}}" {{#if isRequired}}required{{/if}} />
        <div class="input-group-append">
            <input class="{{extremum}}timepicker" aria-label="{{label}}-time" type="text" name="{{id}}Hour" id="{{id}}Hour"
               {{#if isRequired}}required{{/if}} value="{{timeValue}}"/>
        </div>
    </div>
{{/block}}
