{{#partial "content"}}
  <div class="w-75 mx-auto">
    <form class="form-horizontal" method="post" data-form-confirm>
      <h2 class="mb-3">
        {{lang.addNewScore}}
      </h2>
      <div class="form-group">
        <label for="login">
          {{lang.login}} *
        </label>
        <input type="text" id="login" name="login" class="form-control" autofocus required>
      </div>
      <div class="form-group">
        <label for="score">
          {{lang.score}} *
        </label>
        <input type="number" min="0" max="300" id="score" name="score" class="form-control" autofocus required>
      </div>
      <div class="form-group">
        <span class="form-text text-muted">
          * {{lang.requiredFields}}
        </span>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">
        {{lang.send}}
      </button>
    </form>
  </div>
{{/partial}}

{{> layout }}
