{{#block "passwordInput"}}
    <aside class="my-3">
        <div class="input-group mb-3 mx-0">
            <div class="input-group-prepend">
                <span class="input-group-text">{{label}} *: </span>
            </div>
            <input type="password" id="{{id}}" name="{{name}}" class="form-control" placeholder="{{label}}"
                   minlength="8" maxlength="64" required aria-label="{{label}}">
        </div>
    </aside>
{{/block}}
