{{#partial "content"}}
    <h2>{{lang.alleys}}:</h2>
    {{#each alleys}}
        <div class="question-card card mb-4">
            <div class="card-header forum-card-img-30 d-flex justify-content-between">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <i class="fas fa-bowling-ball mr-2 rounded-circle fa-2x" style="display: inline;"></i>
                            <h2 class="ml-4" style="display: inline;"><strong>#{{this.number}}</strong></h2>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card content-->
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{lang.maxScore}}: </h6>
                            <p class="mb-1">{{this.maxScore}}</p>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{lang.active}}: </h6>
                            {{#if this.active}}
                                <img src="{{webContextPath}}/static/img/tick.png"
                                     alt="true"
                                     width="20px"
                                     height="20px">
                            {{else}}
                                <img src="{{webContextPath}}/static/img/cross.png"
                                     alt="false"
                                     width="20px"
                                     height="20px">
                            {{/if}}
                        </div>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    {{/each}}
{{/partial}}
{{> layout }}
