
{{#partial "content"}}
    {{#if updated}}
        <div class="alert alert-success" role="alert">
            <p>{{lang.userDetailsUpdated}}.</p>
        </div>
    {{/if}}
    {{#if error}}
        <div class="alert alert-danger" role="alert">
            <p>{{error}}</p>
        </div>
    {{/if}}
    <h2>{{lang.editUser}}: {{this.login}}</h2>
    <form class="form-horizontal" role="form" method="post">
    <div class="container">

        <div class="row">

            <div class="col-10">
                <p>todo: zmiana innych danych uzytkownika</p>
            </div>
            <div class="col-2">
                <div>
                    <a href="{{webContextPath}}/accounts/{{id}}/edit/password" type="button" class="btn btn-outline-dark btn-sm px-2 waves-effect show_login">
                        <span class="value">{{lang.changePassword}}</span>
                        <i class="far fa-edit ml-1"></i>
                    </a>
                </div>
                <div class="border">
                    <div class="form-group">
                        <div>
                            <label for="client" class="control-label">{{lang.client}}:</label>
                            <input type="checkbox" id="client" name="clientSelected" value="true" autofocus {{#if clientActive}} checked {{/if}}>
                        </div>
                    </div>
                    <div class="form-group">

                        <div>
                            <label for="employee" class="control-label">{{lang.employee}}:</label>
                            <input type="checkbox" id="employee" name="employeeSelected" value="true" autofocus {{#if employeeActive}} checked {{/if}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="admin" class="control-label">{{lang.admin}}:</label>
                            <input type="checkbox" id="admin" name="adminSelected" value="true" autofocus {{#if adminActive}} checked {{/if}}>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
        <button type="submit" class="btn btn-primary btn-block">{{lang.save}}</button>
    </form>
{{/partial}}
{{> layout }}