{{#partial "content"}}
    <form class="form-inline" role="form" method="get" action="">
        <div>
            <a>{{lang.filterByNameOrSurname}}</a>
            <div class="form-group justify-content-between">
                <input name="name" type="text" class="form-input" placeholder="{{lang.firstName}}"/>
                <input type="submit" class="btn btn-secondary" value="{{lang.userListFilterButtonText}}"/>
            </div>
            <a href="{{webContextPath}}/accounts">{{lang.resetUserListFilter}}</a>
        </div>
    </form>
    <h2>{{lang.usersList}}:</h2>
    {{#each userAccounts}}
        <div class="question-card card mb-4">
            <div class="card-header forum-card-img-30 d-flex justify-content-between">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <p class="pt-2 mb-0">
                                <i class="fas fa-user mr-4 pr-3 rounded-circle"></i>
                                <strong><a href="#" target="_blank">{{this.email}}</a></strong>
                            </p>
                        </div>
                        <div class="col-3">
                            <a href="{{webContextPath}}/accounts/{{id}}/edit" type="button" class="btn btn-outline-dark btn-sm px-2 waves-effect show_login">
                                <span class="value">{{lang.edit}}</span>
                                <i class="far fa-edit ml-1"></i>
                            </a>
                            <a href="{{webContextPath}}/accounts/{{id}}/details" type="button" class="btn btn-outline-info btn-sm px-2 waves-effect show_login">
                                <span class="value">{{lang.seeDetails}}</span>
                                <i class="far fa-edit ml-1"></i>
                            </a>
                        </div>
                        <div class="col-1">
                            <form class="form-inline" role="form" method="post">
                                <div class="form-group">
                                    <input class="form-control" type="checkbox" data-toggle="toggle" data-offstyle="danger" data-onstyle="success" aria-label="toggle-lock"
                                           data-on="<i class='fa fa-unlock'></i>" data-off="<i class='fa fa-lock'></i>" data-size="mini" onchange="submit()"
                                           name="activeToggle" id="activeToggle" data-width="42" {{#if this.accountActive}} checked {{/if}}/>
                                    <input type="hidden" id="accountId" name="accountId" readonly value="{{this.id}}" aria-label="id">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card content-->
            <div class="card-body">
                <h5>{{lang.shortInfo}}:</h5>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{lang.firstName}}</h6>
                        </div>
                        <p class="mb-1">{{this.firstName}}</p>
                    </li>
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{lang.lastName}}</h6>
                        </div>
                        <p class="mb-1">{{this.lastName}}</p>
                    </li>
                  <li class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">Login</h6>
                    </div>
                    <p class="mb-1">{{this.login}}</p>
                  </li>
                </ul>
                <hr>
            </div>
        </div>
    {{/each}}
{{/partial}}
{{> layout }}
