{{#partial "content"}}
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">{{lang.alleysList}}</li>
        {{#each alleys}}
            <li class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{lang.alleysNumber}}: {{this.number}}</h5>
                    <div class="btn-group dropleft mb-1">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>
                        <div class="dropdown-menu">
                            {{#if isEmployee}}
                                <a href="{{webContextPath}}/alleys/history/{{this.id}}" class="dropdown-item btn-primary">{{lang.showGamesHistory}}</a>
                                <a title="{{lang.maxScore}}"
                                   onclick="getMaxScore({{this.id}}, {{this.number}})"
                                   href="#" class="dropdown-item btn-success">{{lang.showMaxScore}}</a>
                                <a href="{{webContextPath}}/reservations/alley/{{this.id}}"
                                   class="dropdown-item btn-info">{{lang.showReservations}}</a>
                                <a href="{{webContextPath}}/employee/servicerequests/new/{{this.id}}"
                                   class="dropdown-item btn-danger">{{lang.addServiceRequest}}</a>
                            {{else}}
                                <a href="{{webContextPath}}/alleys/history/{{this.id}}" class="dropdown-item btn-secondary">{{lang.showGamesHistory}}</a>
                                <a href="#"
                                   onclick="getMaxScore({{this.id}}, {{this.number}})"
                                   class="dropdown-item btn-primary">{{lang.showMaxScore}}</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div>
                    <h6 class="text-muted">{{lang.isActive}}: </h6>
                    {{#if isEmployee}}
                        <div class="d-flex w-100 justify-content-between">
                            <div class="col-1">
                                <form class="form-inline" role="form" method="post">
                                    <div class="form-group">
                                        <input class="form-control" type="checkbox" data-toggle="toggle"
                                               data-offstyle="danger" data-onstyle="success" aria-label="toggle-lock"
                                               data-on="<i class='fa fa-unlock'></i>"
                                               data-off="<i class='fa fa-lock'></i>" data-size="mini"
                                               onchange="submit()"
                                               name="activeToggle" id="activeToggle" data-width="42" {{#if this.active}}
                                               checked {{/if}}/>
                                        <input type="hidden" id="alleyId" name="alleyId" readonly value="{{this.id}}"
                                               aria-label="id">
                                    </div>
                                </form>
                            </div>
                        </div>
                    {{else}}
                        {{#if this.active}}
                            <img src="{{webContextPath}}/static/img/tick.png"
                                 alt="true"
                                 width="30px"
                                 height="30px" style="display: inline-block; ">
                        {{else}}
                            <img src="{{webContextPath}}/static/img/cross.png"
                                 alt="false"
                                 width="30px"
                                 height="30px" style="display: inline-block; ">
                        {{/if}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{lang.bestScore}}</h5>
                    </div>
                    <div class="modal-body">
                        <p id="modal_body_p"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{lang.close}}</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function getMaxScore(alleyId, alleyNumber) {
                fetch('{{webContextPath}}/alleys/' + alleyId + '/best-score')
                        .then(resp = > resp.json(), e =
            >
                {
                    console.log(e);
                }
            )
            .
                then(resp = > {
                    const mp = document.getElementById('modal_body_p');
                mp.innerHTML = '{{lang.bestScoreForAlley}} ' + alleyNumber + ' {{lang.is}} ' + resp.score;
                $('#myModal').modal();
            })
            }
        </script>
    </ul>
{{/partial}}
{{> layout }}
