{{#partial "content"}}
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">{{lang.alleysList}}</li>
        {{#each alleys}}
            <li class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{lang.alleysNumber}}: {{this.number}}</h5>
                    <div class="btn-group dropleft mb-1">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>
                        <div class="dropdown-menu">
                            {{#if isEmployee}}
                                <a href="#" class="dropdown-item btn-primary">{{lang.showGamesHistory}}</a>
                                <a href="#" class="dropdown-item btn-success">{{lang.showMaxScore}}</a>
                                <a href="{{webContextPath}}/reservations/alley/{{this.id}}"
                                   class="dropdown-item btn-info">{{lang.showReservations}}</a>
                                <a href="{{webContextPath}}/employee/servicerequests/new/{{this.id}}"
                                   class="dropdown-item btn-danger">{{lang.addServiceRequest}}</a>
                            {{else}}
                                <a href="#" class="dropdown-item btn-secondary">{{lang.showGamesHistory}}</a>
                                <a href="#" class="dropdown-item btn-primary">{{lang.showMaxScore}}</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div>
                    <h6 class="text-muted">{{lang.isActive}}: </h6>
                    {{#if this.active}}
                        <img src="{{webContextPath}}/static/img/tick.png"
                             alt="true"
                             width="30px"
                             height="30px" style="display: inline-block; ">
                    {{else}}
                        <img src="{{webContextPath}}/static/img/cross.png"
                             alt="false"
                             width="30px"
                             height="30px" style="display: inline-block; ">
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
{{/partial}}
{{> layout }}
